/* Base CSS for Black and White Themed Page */

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.usersOnlineForm {
    display: flex;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nav {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: fixed;
}

.nav .logo {
    display: flex;
    align-items: center;
}

.nav .logo img {
    height: 50px;
    /* Adjust as needed */
    margin-right: 10px;
    filter: grayscale(100%);
}

.nav .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.nav .right-links {
    display: flex;
    align-items: center;
}

.nav .right-links .btn {
    background-color: #000;
    color: white;
    border: 2px solid gray;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav .right-links .btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.nav .right-links .btn a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    padding: 10px;
}

/* Additional styles for links */
a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #555;
}

/* Add some margin below the image */
img {
    margin-bottom: 20px;
}


/*LOGIN HTML*/
.box {
    background-color: #000000;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 15px;
}

.field input[type="text"],
.field input[type="password"],
.field input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 4px;
    background-color: #000;
    font-size: 16px;
    outline: none;
    color: white;
}

.field label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.btn {
    width: 200px;
    padding: 10px;
    background-color: #000;
    border: 1px solid gray;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffffff;
    color: #000;
}

.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #0056b3;
}

button:hover {
    cursor: pointer;
}

/*FORUM STRYLE*/

.filters {
    position: fixed;
}


.postContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#allposts {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 400px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.commentary {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 300px;
    overflow: auto;
    padding-right: 5px;
    padding-top: 5px;
    gap: 5px;
}

.OneComment {
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
}

.commLikeandDislike {
    display: flex;
    gap: 5px;
}

.responses {
    display: none;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar {
    display: flex;
    border-bottom: 1px solid gray;
}

.message {
    width: 400px;
    height: 250px;
    overflow: auto;
}

#reactAndCom {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

svg {
    color: white;
}

button[name="action"],
button[name="actioncom"],
button[name="postComment"],
#sendButton {
    width: 40px;
    display: flex;
    gap: 5px;
    color: white;
    background: none;
    border: none;
}

button[name="showComs"] {
    background: none;
    color: white;
    display: flex;
    border: none;
}

.commentInsert {
    display: flex;
}

textarea[name="commentary"] {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    resize: none;
    overflow: auto;
    padding: 0;
}

.onlineUsers {
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/* Custom scrollbar*/
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* POST STYLE */

#createNewpost {
    display: none;
}

#postSubmit {
    display: none;
    z-index: 1;
    top: 20%;
    border: 2px solid gray;
    background: black;
    flex-direction: column;
    width: 650px;
    padding: 20px;
    gap: 10px;
    color: white;
    position: fixed;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.Posttitle {
    display: flex;
    gap: 5px;
}

.Postmessage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[name="subject"] {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: white;
}

textarea[name="Thepost"] {
    resize: none;
    background: none;
    outline: none;
    width: 300px;
    height: 200px;
    overflow: auto;
    border: none;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    color: white;
}

#categories {
    display: flex;
    gap: 5px;
}

/* checkbox style */

.categoryContain {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.categoryContain input {
    display: none;
}

.categoryContain svg {
    width: 15px;
    height: 15px;
    overflow: visible;
}

.path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.categoryContain input:checked~svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

/* CHAT STYLIZING */
#chatOpened {
    display: none;
    flex-direction: column;
    padding: 5px;
    background-color: #000000;
    border: 1px solid gray;
    border-radius: 12px;
    position: fixed;
    height: 300px;
    width: 300px;
    right: 20%;
    bottom: 0;
}

.WsChatroom {
    height: 200px;
    border-bottom: 1px solid gray;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}

.WsRight {
    background-color: gray;
    border-radius: 4px;
    margin-right: auto;
    max-width: 250px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 5px; 
    box-sizing: border-box;
}

.WsLeft {
    background-color: rgb(53, 53, 53);
    border-radius: 4px;
    margin-left: auto;
    max-width: 250px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 5px; 
    box-sizing: border-box;
}

#messageInput {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    resize: none;
    overflow: auto;
    padding: 0;
    height: 40px;
}

#WsMessageSend {
    display: flex;
}

/*---------------Animation typing progress----------------------------*/

.chat-bubble {
    background-color: transparent;
    padding: 16px 28px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display: inline-block;
}

.typing {
    align-items: center;
    display: flex;
    height: 17px;
}

.typing .dot {
    animation: mercuryTypingAnimation 0.5s ease-in-out;
    background-color: red;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #6CAD96;
    }

    28% {
        transform: translateY(-7px);
        background-color: #9ECAB9;
    }

    44% {
        transform: translateY(0px);
        background-color: #B5D9CB;
    }
}

/*---------------------------------------------------------*/

.activeUsers {
    background-color: rgb(61, 129, 61);
}

.unactiveUsers {
    background-color: #000;
}

#loading {
    width: 100%;
    background: none;
    z-index: 1;
    position: absolute;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: center;
}
#loading img {
    width: 50%;
}

.notification {
    position: absolute;
    right: 0;
}

